<style>
    a {
        text-decoration: none;
        color: black;
    }
    
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/12D2PpEADLx/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wanderlust?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-square-instagram"></i>
            <a href="https://www.linkedin.com/posts/wanderlustfestival_tickets-on-sale-now-selling-activity-7194576535071203328-jrbh?utm_source=share&utm_medium=member_desktop"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>